.Home {
    height: 100vw;
    background-color: #8f8b8d;

    .upper-blue {
        background-color: #2F2FA2;
        height: 650px;
        width: 100%;
    }
}

.image-p {
    border-radius: 30px;
    height: 400px;


}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 50px;
    // left: 25vw;
    background-color: #2F2FA2;
    // width: 900px;
    width: 100vw;
    height: 600px;
    align-items: center;
    justify-content:center;


}

.text {
    color: white;
    align-items: center;
    margin: 30px;
    padding: 40px;
    padding-top: 30px;
    height: 300px;
    // color: #F64C72;




}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 70px;

}

h3 {
    font-family: 'Golos Text', sans-serif;
}

.os-icons {
    color: white;
    position: relative;
    top: 60px;
    // float: left;

}

.image-2 {
    position: relative;
    top: 150px;
    // height: 200px;
    // width: 700px;
    
    // background-image: url('./home.jpeg');
    // background-repeat: no-repeat;
    // background-size: contain;
    // align-items: center;
    // left: 27vw;
    // .desk-photo{
    //     width: 600px;
    //     height: 200px;

    // }

}
.button-course {
    background-color:orange;
     width: 200px;
      height:75px;
      opacity:0.9;
       position:relative;
        // top:50px;
        left:50px;
     border-radius: 30px;
     border-style: inset;
}
.button-course:hover{
    background-color: orange;
    border-style:dotted;
}
@media screen and (max-width: 1028px) {
   
    
    .top {
        display: flex;
        flex-direction: row;
        // align-items: center;
        position: relative;
        // top: 50px;
        // left: 10px;
        background-color: #2F2FA2;
        // width: 900px;
        width: 100vw;
    }
    .upper-blue{
        width: 100%;
    }
    @media screen and (max-width: 902px) {
   
    
        .image-p{
            height:200px;
        }
        .top {
            display: flex;
            flex-direction: row;
            // align-items: center;
           
            position: relative;
            top: 50px;
            // left: 10px;
            background-color: #2F2FA2;
            // width: 900px;
            width: fit-content;
            height: 500px;
            
        }
        .text {
            color: white;
            align-items: center;
            // margin: 30px;
            padding: 10px;
            
            padding-top: 50px;
            height: 300px;
            // color: #F64C72
        }
        h1 {
            font-family: 'Dancing Script', cursive;
            font-size:30px;
        
        }
        
        h3 {
            font-family: 'Golos Text', sans-serif;
            font-size: small;
        }
        .icon{
            size: 50px;

        }
        .upper-blue{
            width: 100vw;
        }
        .os-icons {
            color: white;
            position: relative;
            top: 60px;
            display: flex;
            flex-direction: row;

            // float: left;
        
        }
  }
}