.bluebox{
    width: 100vw;
    height:300px;
    background-color: #2F2FA2;
    position: relative;
    top:1600px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.heading{
    margin-top: 10px;
    height:200px;
    color: white;
    font-style:bold;
   font-size: 50px;
   font-family: 'Noto Serif Lao', serif;
}
.discription{
    min-width:400px;
    border-radius: 30px;
    margin:30px;
    height:200px;
    font-size: 30px;
    color: white;
    font-family: 'Noto Serif Lao', serif;

    // background-color:rgb(223, 220, 220) ;



}
.description-container{
    width: 100%;
    display: flex;
    flex-direction: row;



}
@media screen and (max-width: 1028px) {
    .bluebox{
        height: 150px;
        position: relative;
        top:100px
    }
    .heading{
        margin-top: 10px;
        height:100px;
        color: white;
        font-style:bold;
       font-size: 20px;
       font-family: 'Noto Serif Lao', serif;
    }
    .discription{
        min-width:50px;
        border-radius: 30px;
        margin:30px;
        height:200px;
        font-size: 10px;
        color: white;
        font-family: 'Noto Serif Lao', serif;
    
        // background-color:rgb(223, 220, 220) ;
    
    
    
    }
    
   
   
    @media screen and (max-width: 393px) {
        .heading{
            margin-top: 10px;
            height:60px;
            color: white;
            font-style:bold;
           font-size: 10px;
           font-family: 'Noto Serif Lao', serif;
        }
        .discription{
            min-width:30px;
            border-radius: 30px;
            // margin:30px;
            height:200px;
            font-size: 10px;
            color: white;
            font-family: 'Noto Serif Lao', serif;
        
            // background-color:rgb(223, 220, 220) ;
        
        
        
        }
        .bluebox{
            width:398px;
            // left:10px
        }

   
    
}
}