.mini-nav-container{
    width: 100vw;
    height:300px;
    background-color: rgb(5, 37, 67);
    position: relative;
    top:200px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}