.product-card{
    background-color: rgb(190, 207, 224);
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: row;
}
.wish-button{
   
   width: 50px;
   position: relative;
   left:30px;
    
}
.name-holder{
    font-size: 20px;
}
.image-holder{
    width:200px;
    height: 200px;
    float: left;
}

// .product-card:hover{
//    background-color: black;
// }
.button-c{
    position: relative;
    top:28px;
    left:30px
    
}
.details{
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    width: 238px;
}