*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    
    // background-color: rgb(5, 37, 67);
    background-color: #2F2FA2;
    color: rgb(247, 246, 246);
    width:100%;
    position:fixed;
    /* position: absolute; */
    z-index: 1;
    // border-style:outset;
    
    
}
.logo-container{
    font-size:  30px;
}
.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width:75%;
    font-size: 20px;
    
    
}
.wishlist,.home,.menu,.auth,.skills{
    text-decoration: none;
    margin:0px 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 0px 10px;
}
.home{
    color: #f4203d;
    
}
// .search-box{
//     position: relative;
//     top:200px;
// }